table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: center;
    border: 1.75px solid black;
    padding: 6.5px;
    
}
tr, td {
    text-align: start;
    border: 1.75px solid black;
    padding: 6.5px;
}