/*dieu chinh mau nen cho body va htmt*/
body, html {
    background-color: #F3E9FF;
}
/*dinh dang cho phan header*/
.header {
    text-align: center;
}
/*dinh dang cho tieu de h1 trong header*/
.header h1 {
    font-family: "Arial Black", sans-serif;
    font-size: 60px;
    color: #5730C8;
    margin: 0;
}
/*dinh dang cho hinh anh duoi header*/
.header-under img {
    width: 400px;
    margin-top: 60px;
}
/*dinh dang cho box1*/
.box1 {
    background-color: #774ad8;/*mau nen*/
    color: white;
    padding-left: 60px;
    margin-top:90px;
    margin-right: 180px;
    margin-left: 180px;
    text-align: center;
    border-radius: 10px;
}
/*dinh dang cho tieu de trong box1*/
.heading {
    font-family: Arial, sans-serif;/*kieu phong chu*/
    font-size: 20px;/*kich thuoc chu*/
    text-align: left;/*can le trai*/
    white-space: pre-line;/*cho phep xuong dong*/
    font-weight: bold;/*chu dam*/
}
/*dinh dang cho phan html va css trong box*/
.HTML-CSS{
    font-family: Arial, sans-serif;/*kieu phone chu*/
    font-size: 20px;/*kich thuoc chu*/
    text-align: left;/*can le trai*/
    white-space: pre-line;/*cho phep xuong dong*/
}
/*dinh dang van ban mau trong box1*/
.color-text{
    color: #fcecc6;/*mau*/
    position: relative;/*vi tri tuong doi*/
    padding-left: 20px;/*khoang cah ben trai*/
}
/*dinh dang cho thanh mau doc trong color-text*/
.color-text::before{
    content:"";/*khong co noi dung*/
    position: absolute;/*vi ri tuyet doi*/
    left: 0;/*canh trai*/
    top: 0; /*canh tren*/
    bottom: 0; /*canh duoi */
    width: 5px; /*do dai cua thanh doc */
    background-color: #F9D358; /* mau cua thanh doc */
    height: 25px; /*chieu cao cua thanh doc*/
}
/*dinh dang van ban mau trong box1*/
.color-text2{
    color: #fcecc6;/*mau chu*/
    position: relative;/*vi tri tuong doi*/
    padding-left: 20px;/*kc ben trai*/
}
/*dinh dang cho thanh loc mau trong color-text2*/
.color-text2::before{
    content:"";/*khong co noi dung*/
    position: absolute;
    left: 0;
    top: 0; 
    bottom: 0; 
    width: 5px; 
    background-color: #F9D358;
    height: 45px;  
}
 /*dinh dang cho phan duoc lam noi bat*/
.highlight{
    color: black; 
    background-color: #fcecc6;
    padding-left: 8px;
    padding-right: 3px;
    padding-bottom: 4px;
    padding-top: 2px;
    border-radius: 5px; 
}
.margin{
    margin-left: 20px;
}
.bold{
    font-weight: bold;
}
.box2 {
    background-color: #F9C927;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 550px;
    margin-right:550px;
    padding-top: 16px;
    padding-bottom: 15px;
}
.footer{
    color: #8D7F99;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}