table,th,td{
    width:100%;
    border:  1px solid black;
    border-collapse: collapse;
}
th,td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}