body{
    font-family: 'quicksand',sans-serif;
    margin:0;
    
}

/* HEADER */
header{
    position: absolute;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 15px 60px;
  flex-wrap: wrap;

}

#logo{
/* background-color: rgb(7,83,83); */
width:30%;
}

#logo a{
/* background-color: rgb(142,20,161); */
padding: 50px;
color:rgb(245,243,160);
font-size: 3.0rem;
text-decoration: none;
text-transform: uppercase;
font-family: "Oleo Script", system-ui;
font-weight: 400;
font-style: normal;
text-shadow: 1px 1px 2px rgb(0,0,0);
}
nav{
    /* background-color: rgb(122,122,16); */
    width: 15%;
    display:flex;
}

nav ul{
    margin: 0;
    padding:0;
    list-style: none;
    display:flex;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    color: rgb(255,251,0);
    font-size: 20px;
    padding: 12px;
    text-shadow:1px 1px 2px rgb(0,0,0.8);
    border-radius: 6px;
}
nav ul li{
    margin-right: 20px;
}

nav ul a:hover{
    color:black;
    background-color: rgb(255,251,0);
    text-shadow: 1px 1px 2px rgb();
}


/* CSS HERO */

#hero{
    background-image: url("../images/ocean.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#hero-content {
    width: 900px;
    max-width: 90%;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px #444343;
    border-radius: 10px;
    text-align: center;
    padding: 50px 0;
    color: white;
    text-transform: uppercase;
  }
  #hero-content h1 {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    margin: 0;
  }
  @media only screen and (max-width: 796px) {
    #hero-content h1 {
      font-size: 40px;
    }
  }
  #hero-content p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
  }
  @media only screen and (max-width: 796px) {
    #hero-content p {
      font-size: 18px;
    }
  }
  #hero-content a {
    text-decoration: none;
    background-color: #f5f3a0;
    color: rgba(51, 47, 47, 0.8);
    padding: 15px 25px;
    border-radius: 0 20px 0 20px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 2px 4px 8px #444343;
    transition: border-radius 0.5s;
  }
  #hero-content a:hover {
    border: 2px solid #f5f3a0;
    color: #f5f3a0;
    background-color: rgba(51, 47, 47, 0.8);
    border-radius: 20px 0 20px 0;
  }
  
  #highlights {
    background: linear-gradient(0deg, #e3fffd, #caf3f0);
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
  }
  #highlights h2 {
    color: #3b4140;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    margin: 25px;
  }
  
  #destinations {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }
  
  .destination img {
    height: 200px;
    width: 265px;
    box-shadow: 2px 4px 8px #444343;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.25s;
  }
  .destination img:hover {
    transform: scale(1.05);
  }
  .destination p {
    font-size: 24px;
    color: #7c7b7b;
  }
  .destination p strong {
    color: #00a075;
  }